<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer-widget bg-white pinside30 mb30">
        	 <div class="logo"> <img [src]="MYSTIQUE" class="img-responsive" alt=""> </div>
          <div class="row" style="margin-left: -5px; ">
                <div class="col-md-1"> <i style="color: #8B949B; font-size: 10px; line-height: 10px;" class="fa fa-copyright"></i> </div>
                <div class="col-md-10">
                  <h4 class="call-no"><a style="color: #8B949B;font-family: Roboto;font-size: 10px;line-height: 10px; margin-left: -20p" href="">Mystique 2018</a></h4>
                </div>
              </div>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
        <div class="footer-widget footer-contact">
          <h2 class="footer-title">Información de contacto</h2>
          <ul class="listnone">
            <li>
              <div class="row">
                <div class="col-md-2"><i class="material-icons">local_phone</i></div>
                <div class="col-md-10">
                  <h4 class="call-no" style="font-weight: normal;"><a href="contact.html">+1 (800) 123 - 456</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="material-icons">email</i></div>
                <div class="col-md-10">
                  <h4 class="mail-text"><a href="contact.html">beautysalon@gmail.com</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="material-icons">watch_later</i></div>
                <div class="col-md-10">
                  <h4 class="time-text"><a href="contact.html">Mon-sun : 10am : 07pm</a></h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h2 class="footer-title">Enlaces</h2>
          <ul class="listnone">
            <li><a href="index.html">Servicios</a></li>
            <li><a href="service-list.html">Promociones</a></li>
            <li><a href="testimonial.html">Blog</a></li>
            <li><a href="blog-default.html">Estilistas</a></li>
            <li><a href="pricing.html">Empresa</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>