<div class="space-medium bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="mt20">
          <div class="section-title">
            <h1 class="heading-line">Mantente en contacto con nosotros a través  de twitter</h1>
            <p class="mb40">Nulla necvenenatis lectus sitamet is convallis nisnteger libero velit lorem egestas sitmet digneu tellus. </p>
            <a href="testimonial.html" class="btn btn-blue">Ir a Twitter</a> </div>
        </div>
      </div>
      <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
      <ng4-twitter-timeline [dataSrc]="{sourceType: 'profile',screenName: 'pro_beauty'}" [opts]="{chrome: 'noheader nofooter noborders transparent', height: 600}"></ng4-twitter-timeline>
      </div>
    </div>
  </div>
</div>