



<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="mt20">
          <div class="section-title">
            <h1 class="heading-line">Promociones en nuestros servicios</h1>
            <p class="mb40">Nulla necvenenatis lectus sitamet is convallis nisnteger libero velit lorem egestas sitmet digneu tellus. </p>
            <a href="testimonial.html" class="btn btn-blue">Ver promociones</a> </div>
        </div>
      </div>
      <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
      	<div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="price-block outline mb30">
          <div class="price-img"><img [src] = "HAIR" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Paquete de novia</h2>
            <p class="mb30">Phasellus elit neque, blandit egestas is eleifend ut, condimentum nec tellamac sceleris ellentesque malesuada.</p>
            <ul class="listnone mb40">
              <li class="row"><div class="col-md-8">Depilación láser</div> <div class="col-md-4 text-right"><span class="meta-price">USD $30</span></div></li>
              <li class="row"><div class="col-md-8">Depilación láser</div> <div class="col-md-4 text-right"><span class="meta-price">USD $30</span></div></li>
              <li class="row"><div class="col-md-8">Depilación láser</div> <div class="col-md-4 text-right"><span class="meta-price">USD $30</span></div></li>
            </ul>            
          </div>
        </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="price-block outline mb30">
          <div class="price-img"><img [src] = "MAKEUP" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Maquillaje 15 años</h2>
            <p class="mb30">Phasellus elit neque, blandit egestas is eleifend ut, condimentum nec tellamac sceleris ellentesque malesuada.</p>
            <ul class="listnone mb40">
              <li class="row"><div class="col-md-8">Depilación láser</div> <div class="col-md-4 text-right"><span class="meta-price">USD $30</span></div></li>
              <li class="row"><div class="col-md-8">Depilación láser</div> <div class="col-md-4 text-right"><span class="meta-price">USD $30</span></div></li>
              <li class="row"><div class="col-md-8">Depilación láser</div> <div class="col-md-4 text-right"><span class="meta-price">USD $30</span></div></li>
            </ul>            
          </div>
        </div>
          </div>
        </div>









      </div>
    </div>
  </div>
</div>


     
