<div class="hero-section">
<div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="hero-caption">
          <h1 class="hero-title">¿Buscas un salón de belleza profesional?</h1>
          <p class="hero-text">Barber provee un rango amplio de servicios de belleza en peluquería y maquillaje. Forma parte de nuestra comunidad y recibe tips personalizados en nuestra app así como también la oportunidad de agendar y gestionar tus citas.</p>
          <a href="service-list.html" class="btn btn-default">SUBSCRÍBETE</a> </div>
      </div>
    </div>
  </div>
</div>