<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="section-title">
          <h1 class="heading-line">Servicios de nuestro salón de belleza</h1>
          <p class="mb40">Dolor sit amet consectetur adipiscing uspendisse volutpat feliscommodo bibendum odionunc tincidu.</p>
          <a href="service-list.html" class="btn btn-blue">SUBSCRÍBETE</a> </div>
      </div>
      <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="service-block mb60 outline">
              <div class="service-caption pinside40">
                <h2 class="service-title"><a href="service-list.html" class="title">Peluquería</a></h2>
                <p class="mb40">Cras auctor laoreet duid temsem cursus sedenean elementumest vitae.</p>
                <a href="service-list.html" class="btn-link">LEER MÁS</a> </div>
              <div class="service-img"> <img [src]="HAIR" class="img-responsive" alt=""> </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="service-block mb60 outline">
              <div class="service-caption pinside40">
                <h2 class="service-title"><a href="service-list.html" class="title">Maquillaje</a></h2>
                <p class="mb40">Maecenas sitamet venenatis nulla eget lobortis loreduis lorem eget nulla.</p>
                <a href="service-list.html" class="btn-link">LEER MÁS</a> </div>
              <div class="service-img"> <img [src]="MAKEUP" class="img-responsive" alt=""> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>