
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Beauty Salon</title>

</head>
<body> 
	<div class="header">
		<app-header></app-header>
	</div>
	<div class="navigation-wrapper">
		<app-navigation></app-navigation>
	</div>

  	<app-hero></app-hero>
 	<app-servicespanel></app-servicespanel>
 	<app-clientreview></app-clientreview>
 	<app-promo></app-promo>
 	<app-blog></app-blog>
 	<app-employees></app-employees>
 	<app-twittertimeline></app-twittertimeline>
 	<footer>
 		<app-footer></app-footer>
 	</footer>

	
</body>