<div class="space-medium bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="mt20">
          <div class="section-title">
            <h1 class="heading-line">Reseñas de nuestros clientes</h1>
            <p class="mb40">Nulla necvenenatis lectus sitamet is convallis nisnteger libero velit lorem egestas sitmet digneu tellus. </p>
            <a href="testimonial.html" class="btn btn-blue">Ver reseñas</a> </div>
        </div>
      </div>
      <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
      <div id="testimonial" class="testimonial">
        <div class="testimonial-block pinside40 outline bg-white mb30">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
              <div class="testimonial-content"> <span class="quote-left">“</span>
                <h1 class="testimonial-title">Professional Salon</h1>
                <div class="testimonial-text">
                  <p>"It is a very professional salon with excellent results, this staff work hard to make every visit a beautifully, i look forword to and enjoy my visit.”</p>
                </div>
                <h3 class="testimonial-name">- Susan Blake</h3>
              </div>
            </div>
            <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
              <div class="testimonial-img"><img style="margin-left: 30px;" [src] = "TESTIMONIAL" class="img-responsive" alt=""></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
